
.form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formGroup {
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
}

.success {
  color: green;
}